<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

<meta charset="UTF-8" />
<title>Cobrança</title>
<link rel="stylesheet" type="text/css" href="/css/bootstrap.min.css">
<link rel="stylesheet" type="text/css" href="/css/style.css">


<nav class="navbar navbar-inverse navbar-static-top">
	<a class="navbar-brand" href="#"> <img alt="algaworks"
		src="/images/logo-algaworks.png" />
	</a>
</nav>

</html>