<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org/"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

<head>
	<meta charset="UTF-8" />
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<meta name="viewport" content="width=device-width" />

	<title>Cobrança</title>
	
	<link rel="stylesheet" type="text/css" href="/css/bootstrap.min.css">
	<link rel="stylesheet" type="text/css" href="/css/style.css">
	<link rel="stylesheet" type="text/css" href="/css/bootstrap-datepicker.standalone.min.css">
</head>

<body>

	<header layout:insert="Cabecalho"></header>

	<section layout:fragment="conteudo">
		<p>Conteúdo Principal</p>
	</section>

	<script src="/js/jquery-3.4.1.min.js"></script>
	<script src="/js/bootstrap.min.js"></script>
	<script src="/js/bootstrap-datepicker.min.js"></script>
	<script src="/js/bootstrap-datepicker.pt-BR.min.js"></script>
	<script src="/js/jquery.maskMoney.min.js"></script>

</body>
<script type="text/javascript">
	$(function () {
		$('.js-currency').maskMoney({
			prefix: 'R$ ',
			allowNegative: true,
			thousands: '.',
			decimal: ',',
			affixesStay: false
		})
		$('.js-atualizar-status').on('click', function (event) {
			event.preventDefault();

			var botaoReceber = $(event.currentTarget);
			var urlReceber = botaoReceber.attr('href');
			console.log('urlReceber', urlReceber);
			var response = $.ajax({
				url: urlReceber,
				type: 'PUT'
			})

			response.done(function (e) {
				var codigoTitulo = botaoReceber.data('codigo');
				$('[data-role=' + codigoTitulo + ']').html('<span class="label label-success">' +
					e + '</span>');
				botaoReceber.hide();
			});

			response.fail(function (e) {
				console.log(e);
				alert('Erro recebendo cobranca');
			});
		})
	});
</script>

</html>